apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-config
  namespace: devtinder
data:
  default.config: |
    upstream backend {
      server backend:3000;
    }

    server {
      listen 80;
      server_name _;
    
      # Serve React frontend
      location / {
        root /usr/share/nginx/html;
        index index.html index.htm;
        try_files $uri $uri/ /index.html;
      }
    
      # Serve Backend (reverse proxy)
      location /api/ {
        proxy_pass http://backend/;
        proxy_http_version 1.1;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_redirect off;
      }
    }
